<h1>Last 24h</h1>

<%= @gend_image_successes_last_24h %> gend images created /
<%= @gend_image_errors_last_24h %> errors
(<%= @gend_image_success_rate_last_24h %>%),

<%= @src_images_last_24h %> src images created,
<%= @new_users_last_24h %> users created

<h1>No Result Searches</h1>

<ul>
<% @no_result_searches.each do |s| %>
<li><%= s.query %></li>
<% end %>
</ul>

<h1>Waiting Jobs</h1>

<table class="table">
  <tr>
    <th>Created</th>
    <th>ID</th>
    <th>Handler</th>
    <th>Delete</th>
  </tr>
  <% @jobs.each do |job| %>
  <tr>
    <td><%= local_time_ago(job.created_at) %></td>
    <td><%= job.id %></td>
    <td><%= job.handler %></td>
    <td><%= button_to('Delete',
      { action: :destroy, controller: :jobs, id: job.id },
      method: :delete,
      remote: true,
      data: { confirm: 'Are you sure?' },
      class: 'btn btn-danger') %></td>
  </tr>
  <% end %>
</table>

<h1>System</h1>

<table class="table table-striped">
  <% @system.map { |k,v| format_system(k, v) }.sort.each do |k, v| %>
    <tr>
      <td><%= k %></td>
      <td><%= v %></td>
    </tr>
  <% end %>
</table>
