<h1>Login</h1>

<p>
  <%= link_to "Register", new_user_path %> if you don't have an account.
</p>

<%= form_tag session_path do %>
    <fieldset>
      <%= label_tag :email, 'Email' %>
      <%= text_field_tag :email, '', :autofocus => true %>

      <%= label :password, 'Password' %>
      <%= password_field_tag :password %>

      <p>
        <%= submit_tag 'Login', :class => 'btn' %>
      </p>
    </fieldset>
<% end %>
