<h1>Login</h1>

<%= form_tag session_path do %>
    <fieldset>
      <%= label_tag :email, 'Email' %>
      <%= text_field_tag :email %>

      <%= label :password, 'Password' %>
      <%= password_field_tag :password %>

      <p>
        <%= submit_tag 'Login', :class => 'btn' %>
      </p>
    </fieldset>
<% end %>
