<h1>Upload source image</h1>

<%= form_for @src_image, :url => {:action => 'create'} do |f| %>
    <%= f.error_messages %>

    <%= f.file_field :image %>

    <%= f.label :private do %>
        Private?
        <%= f.check_box :private %>
    <% end %>

    <p>
      <%= f.submit 'Create', :class => 'btn' %>
    </p>
<% end %>

<h1>Load images from the web</h1>

<p>Enter one or more image URLs separated by whitespace.</p>

<p>
  Join image URLs with '|' (vertical combine) and '[]' (horizontal combine) operators to combine multiple
  images into a single source image.
</p>

<p>For example: http://foo.com/1.jpg[]http://bar.com/2.png|http://test.com/3.jpg</p>

<div id="load-urls-message"></div>

<textarea id="load-urls" rows="8"></textarea>

<p>
  <button class="btn" id="load-urls-button">Load</button>
</p>
