<h1>Sign Up</h1>

<%= form_for @user, :url => {:action => 'create'} do |f| %>
    <%= f.error_messages %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <p>
      <%= f.submit 'Sign Up', :class => 'btn' %>
    </p>
<% end %>
