<% if gend_image.work_in_progress %>
    <%= render :partial => 'application/under_construction' %>
<% else %>
    <div class="thumb-background"
         style="width: <%= MemeCaptainWeb::Config::ThumbSide %>px; height: <%= MemeCaptainWeb::Config::ThumbSide %>px;">
      <%= link_to image_tag(url_for(gend_image.gend_thumb),
                            :size => "#{gend_image.gend_thumb.width}x#{gend_image.gend_thumb.height}"),
                  :controller => :gend_image_pages,
                  :action => :show,
                  :id => gend_image.id_hash %>
    </div>
<% end %>
<p>
  <input type="checkbox" class="selector" data-id="<%= gend_image.id_hash %>"/>
</p>
