<h1>New Meme</h1>

<%= image_tag(url_for(@gend_image.src_image.src_thumb)) %>

<%= form_for @gend_image, :url => { :action => 'create' } do |f| %>
  <%= f.error_messages %>

  <%= f.label :src_image_id %>
  <%= f.text_field :src_image_id, :value => @gend_image.src_image.id_hash %>

  <%= label_tag :text1, 'Text 1' %>
  <%= text_field_tag :text1 %>

  <%= label_tag :text2, 'Text 2' %>
  <%= text_field_tag :text2 %>

  <%= f.submit 'Create' %>
<% end %>
