<h1>New Meme</h1>

<%= image_tag(url_for(@gend_image.src_image.src_thumb)) %>

<%= form_for @gend_image, :url => {:action => 'create'} do |f| %>
    <%= f.error_messages %>

    <%= f.label :src_image_id %>
    <%= f.text_field :src_image_id, :value => @gend_image.src_image.id_hash %>

    <%= f.fields_for :captions do |cf| %>
        <%= cf.label :text %>
        <%= cf.text_field :text %>

        <%= cf.hidden_field :font, value: "Impact-Regular" %>
    <% end %>

    <%= f.submit 'Create' %>
<% end %>
