<% unless @gend_image.src_image.name.blank? %>
    <h1><%= @gend_image.src_image.name %></h1>
    <% content_for(:title) do %>
        <%- "#{@gend_image.src_image.name} meme" -%>
    <% end %>
<% end %>

<div class="text-positioner"
     data-img-url="<%= url_for :controller => :src_images, :action => :show, :id => @gend_image.src_image.id_hash %>"
     data-img-width="<%= @gend_image.src_image.width %>"
     data-img-height="<%= @gend_image.src_image.height %>"
/></div>

<%= form_for @gend_image, :url => {:action => 'create'} do |f| %>
    <%= f.error_messages %>

    <%= f.hidden_field :src_image_id, :value => @gend_image.src_image.id_hash %>
    <p>
      Source image: <%= @gend_image.src_image.id_hash %>
    </p>

    <% @gend_image.captions.each.with_index do |caption, index| %>
        <%= f.fields_for :captions, caption do |cf| %>
            <%= cf.label :text, "Caption #{index + 1}" %>
            <%= cf.text_field :text, :autofocus => @caption_defaults[index][:autofocus] %>

            <%= cf.hidden_field :font, value: '' %>
            <%= cf.hidden_field :top_left_x_pct, value: 0.05 %>
            <%= cf.hidden_field :top_left_y_pct, value: @caption_defaults[index][:top_left_y_pct] %>
            <%= cf.hidden_field :width_pct, value: 0.9 %>
            <%= cf.hidden_field :height_pct, value: 0.25 %>
        <% end %>
    <% end %>

    <%= button_tag 'Add another caption', :class => "btn text-add", :type => :button %>

    <%= f.label :private do %>
        Private?
        <%= f.check_box :private %>
    <% end %>

    <p>
      <%= f.submit 'Create', :class => 'btn btn-primary' %>
    </p>
<% end %>
