<h1>New Meme</h1>

<%= image_tag(url_for(@gend_image.src_image.src_thumb)) %>

<%= form_for @gend_image, :url => {:action => 'create'} do |f| %>
    <%= f.error_messages %>

    <%= f.hidden_field :src_image_id, :value => @gend_image.src_image.id_hash %>
    <p>
      Source image: <%= @gend_image.src_image.id_hash %>
    </p>

    <% focused = false %>

    <%= f.fields_for :captions do |cf| %>
        <%= cf.label :text %>
        <%= cf.text_field :text, :autofocus => focused ? false : (focused = true) %>

        <%= cf.hidden_field :font, value: 'Coda-Heavy.ttf' %>
    <% end %>

    <p>
      <%= f.submit 'Create', :class => 'btn' %>
    </p>
<% end %>
