<h1><%= image_tag @avatar_url %> <%= @name %></h1>

<% unless @src_sets.empty? %>
    <%= render :partial => 'src_sets/src_sets' %>
<% end %>

<%= render :partial => 'src_images/src_images' %>

<% unless @gend_images.empty? %>
    <%= render :partial => 'gend_images/gend_images' %>
<% end %>
