<!DOCTYPE html>
<html>
<head>
  <title>Meme Captain meme generator</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <% if @refresh_in %>
      <meta http-equiv="refresh" content="<%= @refresh_in %>"/>
  <% end %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <div class="pull-right">
        <p>
          <% if current_user %>
              <%= link_to 'My images', controller: :my, action: :show %>
              |
              <%= link_to "Logout #{current_user.email}", session_path, :method => :delete %>
          <% else %>
              <%= link_to "Login", new_session_path %>
          <% end %>
        </p>
      </div>

      <%= link_to image_tag('logo.png'), root_url %>

    </div>
  </div>
</div>

<div class="container-fluid">

  <% if ENV['DEPLOYED_TIME'] %>
      <div class="alert alert-error">
        <p>
          This is a a test build and images may not be preserved. Send feedback
          to <%= mail_to 'matthewm@boedicker.org' %>. Last
          updated: <%= ENV['DEPLOYED_TIME'] %>, commit
          <a href="https://github.com/mmb/meme_captain_web/tree/<%= ENV['DEPLOYED_SHA'] %>"><%= ENV['DEPLOYED_SHA'][0, 4] %></a>
        </p>
      </div>
  <% end %>

  <% if flash[:error] -%>
      <div class="alert alert-error">
        <%= h flash[:error] %>
      </div>
  <% end -%>

  <% if flash[:notice] -%>
      <div class="alert alert-info">
        <%= h flash[:notice] %>
      </div>
  <% end -%>

  <%= yield %>

  <div class="footer">
    <p>
      <%= link_to 'Meme Captain version 1', 'http://v1.memecaptain.com/' %>
      |
      <%= link_to 'Source code', 'https://github.com/mmb/meme_captain_web' %>
      |
      Feedback: <%= mail_to 'matthewm@boedicker.org' %>
    </p>
  </div>

</div>

<%= javascript_include_tag "application" %>

<%= render 'google_analytics' %>

</body>
</html>
