<!DOCTYPE html>
<html>
<head>
  <title>Meme Captain meme generator</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div class="page-header">
    <%= link_to image_tag('logo.png'), root_url %>

    <div class="pull-right">
      <p>
        <% if current_user %>
            <%= link_to "Logout #{current_user.email}", session_path, :method => :delete %>
        <% else %>
            <%= link_to "Login", new_session_path %>
            |
            <%= link_to "Register", new_user_path %>
        <% end %>
      </p>
    </div>
  </div>

  <% if ENV['DEPLOYED_TIME'] %>
      <div class="alert">
        <p>
          This is a pre-release testing build of this site. It is continuously updated and images may not be preserved.
          Please send feedback to <%= mail_to 'matthewm@boedicker.org' %>.
        </p>

        <p>Last updated: <%= ENV['DEPLOYED_TIME'] %>, commit
          <a href="https://github.com/mmb/meme_captain_web/tree/<%= ENV['DEPLOYED_SHA'] %>"><%= ENV['DEPLOYED_SHA'] %></a>
        </p>
      </div>
  <% end %>

  <% if flash[:error] -%>
      <div class="alert alert-error">
        <%= h flash[:error] %>
      </div>
  <% end -%>

  <% if flash[:notice] -%>
      <div class="alert alert-info">
        <%= h flash[:notice] %>
      </div>
  <% end -%>

  <%= yield %>

</div>

<%= javascript_include_tag "application" %>

</body>
</html>
